@use "./_type.scss" as type;
@use "../assets/fonts/fonts.scss" as fonts;
@use "./customWallet.scss" as customWallet;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "SFRounded", system-ui, sans-serif;
}

.container {
  @apply px-5 max-w-[1000px] mx-auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
